
        <!-- Footer Section Start -->
        <div class="footer-section">
            <div class="container-fluid">

                <div class="footer-copyright text-center">
                    <p class="text-body-light"> <a href="https://themeforest.net/user/codecarnival"></a></p>
                </div>

            </div>
        </div><!-- Footer Section End -->

    </div>

    <!-- JS
============================================ -->

    <!-- Global Vendor, plugins & Activation JS -->
    <script src="/static/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/static/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <!--Plugins JS-->
    <script src="/static/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/static/js/plugins/tippy4.min.js.js"></script>
    <!--Main JS-->
    <script src="/static/js/main.js"></script>

</body>


<!-- Mirrored from demo.hasthemes.com/adomx-preview/dark/order-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 04 Aug 2024 14:23:43 GMT -->
</html>